################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Canon EOS Web Service Email Extractor/v14
*.user